*{
    margin: 0;
}

li{
    line-height: 2em;
    list-style-type: none
}

footer{
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color:rgb(223, 221, 221);
}
.footer1 h3{
flex-direction: row;
padding-left: 1cm;
font-family: Arial, Helvetica, sans-serif;
color:rgb(159, 159, 159);
}
.footer2 h3 {
padding-left: 1cm;
font-family: Arial, Helvetica, sans-serif;
color:rgb(159, 159, 159);

}
.footer3 h3 {
    padding-left: 1cm;
    font-family: Arial, Helvetica, sans-serif;
color:rgb(159, 159, 159);
}

.footer4 h3{
    padding-left: 1cm;
    font-family: Arial, Helvetica, sans-serif;
color:rgb(159, 159, 159);
}
.footer5 h3{
    padding-left: 1cm;
    font-family: Arial, Helvetica, sans-serif;
color:rgb(159, 159, 159);
}
