header{
  display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--block-width);
    margin-left: auto;
    margin-right: auto;
    padding: 1.33333rem var(--block-padding);
    background: #f2ff00;
    flex-direction: row;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    flex-direction: row;
  }
  .logo{
    padding-left: 12%;
    padding-right: 0%;
    float: left;
  }
  
  li {
    float:left;
  }

li a {
    display: flex;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    align-items: center;
    
  }
  
 
  li a:hover {
    background-color: #c6c4c4;
  }
  nav{
    display: flex;
  }
  img{
    height: 80px;
    width: 80px;
  }
  