.informatie {
    display: flex;
}

.benodigheden {
    height: 600px;
    width: 500px;
    background-color: white;
}


.beschrijving {
    height: 600px;
    width: 600px;
}

.foto img {
    height: 500px;
    width: 755px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}