table, th, td {
    border:1px solid black;
  }
  table{
    width: 100%;
  }
  .achtergrondd {
    background-image: url('../images/a.jpg');
    background-attachment: fixed;
    background: c;
    background-size: 100% 100%;
}
.langsteduur img{

}